@charset "Shift_JIS";

/******************************
 * float clear
 ******************************/
.hpb-clear {
  clear: both;
}

.hpb-clearfix:after {
  content: ".";
  clear: both;
  height: 0;
  display: block;
  visibility: hidden;
}

.hpb-clearfix {
  zoom: 1;
  /* for IE6 */
}

/******************************
 * ���C�A�E�g �R���e�i (div)
 ******************************/

/* ����Ȃ� */
.hpb-parts-smt-cnt-01 {
  margin: 0px;
  padding: 0px;
  border: none;
  width: auto;
  float: none;
  clear: both;
}

/* ���͂� */
.hpb-parts-smt-cnt-02 {
  margin: 0px;
  padding: 0px;
  border-width: 1px !important;
  border-style: solid !important;
  width: auto;
  float: none;
  clear: both;
}

/******************************
 * ���o�� (h3)
 ******************************/

/* ����Ȃ� */
.hpb-parts-smt-hl-01 {
  margin: 0px;
  padding: 0.5em;
  border: none !important;
  line-height: 1.2em;
}

/* ���� */
.hpb-parts-smt-hl-02 {
  margin: 0px;
  padding: 0px 0.5em 0.2px;
  border-bottom-width: 1px !important;
  border-bottom-style: solid !important;
  border-top-style: none !important;
  border-right-style: none !important;
  border-left-style: none !important;
  line-height: 1.2em;
}

/* �㉺�� */
.hpb-parts-smt-hl-03 {
  margin: 0px;
  padding: 0.5em;
  border-bottom-width: 1px !important;
  border-bottom-style: solid !important;
  border-top-width: 1px !important;
  border-top-style: solid !important;
  border-right-style: none !important;
  border-left-style: none !important;
  line-height: 1.2em;
}

/* ���͂� 1 */
.hpb-parts-smt-hl-04 {
  margin: 0px;
  padding: 0.5em;
  border-width: 1px !important;
  border-style: solid !important;
  line-height: 1.2em;
}

/* ���͂� 2 (�p��) */
.hpb-parts-smt-hl-05 {
  margin: 0px;
  padding: 0.5em;
  border-width: 1px !important;
  border-style: solid !important;
  line-height: 1.2em;
  -webkit-border-radius: 5px 5px 5px 5px / 5px 5px 5px 5px !important;
}

/* ���͂� 3 (�w�i) */
.hpb-parts-smt-hl-06 {
  margin: 0px;
  padding: 0.5em;
  border-width: 1px !important;
  border-style: solid !important;
  line-height: 1.2em;
}

/* ���͂� 4 (�w�i/�p��) */
.hpb-parts-smt-hl-07 {
  margin: 0px;
  padding: 0.5em;
  border-width: 1px !important;
  border-style: solid !important;
  line-height: 1.2em;
  -webkit-border-radius: 5px 5px 5px 5px / 5px 5px 5px 5px !important;
}

/******************************
 * ���͘g (div)
 ******************************/

/* ����Ȃ� */
.hpb-parts-smt-cbox-01 {
  margin: 0px;
  padding: 5px;
  border: none !important;
}

/* ���͂� 1 */
.hpb-parts-smt-cbox-02 {
  margin: 0px;
  padding: 4px;
  border-width: 1px !important;
  border-style: solid !important;
}

/* ���͂� 2 (�_��) */
.hpb-parts-smt-cbox-03 {
  margin: 0px;
  padding: 4px;
  border-width: 1px !important;
  border-style: dotted !important;
}

/* ���͂� 3 (�p��) */
.hpb-parts-smt-cbox-04 {
  margin: 0px;
  padding: 4px;
  border-width: 1px !important;
  border-style: solid !important;
  -webkit-border-radius: 5px 5px 5px 5px / 5px 5px 5px 5px !important;
}

/* ���͂� 4 (�_��/�p��) */
.hpb-parts-smt-cbox-05 {
  margin: 0px;
  padding: 4px;
  border-width: 1px !important;
  border-style: dotted !important;
  -webkit-border-radius: 5px 5px 5px 5px / 5px 5px 5px 5px !important;
}

/******************************
 * ���X�g�g (div)
 ******************************/

/* ���X�g�g 1 */
/* ���X�g�g 3 (���o��) */
.hpb-parts-smt-sbox-01 {
  margin: 0px;
  padding: 0px;
}

.hpb-parts-smt-sbox-01 h3 {
  margin-top: 0px !important;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px !important;
  padding: 5px 0px;
  border-top-width: 1px !important;
  border-top-style: solid !important;
  border-left-width: 1px !important;
  border-left-style: solid !important;
  border-right-width: 1px !important;
  border-right-style: solid !important;
  text-align: center;
  font-size: small;
  font-weight: normal;
}

.hpb-parts-smt-sbox-01 ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  border-top-width: 1px !important;
  border-top-style: solid !important;
  border-left-width: 1px !important;
  border-left-style: solid !important;
  border-right-width: 1px !important;
  border-right-style: solid !important;
}

.hpb-parts-smt-sbox-01 li {
  margin: 0px;
  padding: 10px 15px;
  border-bottom-width: 1px !important;
  border-bottom-style: solid !important;
}

/* ���X�g�g 2 (�p��) */
/* ���X�g�g 4 (���o��/�p��) */
.hpb-parts-smt-sbox-02 {
  margin: 0px;
  padding: 0px;
  border-top-width: 1px !important;
  border-top-style: solid !important;
  border-bottom-width: 1px !important;
  border-bottom-style: solid !important;
  border-left-width: 1px !important;
  border-left-style: solid !important;
  border-right-width: 1px !important;
  border-right-style: solid !important;
  -webkit-border-radius: 5px 5px 5px 5px / 5px 5px 5px 5px !important;
}

.hpb-parts-smt-sbox-02 h3 {
  margin-top: 0px !important;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px !important;
  padding: 5px 0px;
  border-bottom-width: 1px !important;
  border-bottom-style: solid !important;
  font-size: small;
  font-weight: normal;
  text-align: center;
}

.hpb-parts-smt-sbox-02 h3:first-child {
  margin: 0px;
  padding: 5px 0px;
  border-top: none !important;
  -webkit-border-radius: 5px 5px 0px 0px / 5px 5px 0px 0px !important;
}

.hpb-parts-smt-sbox-02 ul {
  list-style-type: none !important;
  margin: 0px;
  padding: 0px;
}

.hpb-parts-smt-sbox-02 li {
  margin: 0px;
  padding: 10px 15px;
  border-bottom-width: 1px !important;
  border-bottom-style: solid !important;
}

.hpb-parts-smt-sbox-02 li:last-child {
  margin: 0px;
  padding: 10px 15px;
  border: none !important;
}

/******************************
 * �����N���X�g�g (div)
 ******************************/

/* �����N���X�g�g 1 */
/* �����N���X�g�g 2 */
/* �����N���X�g�g 3 */
/* �����N���X�g�g 7 */
/* �����N���X�g�g 8 */
/* �����N���X�g�g 9 */
.hpb-parts-smt-lbox-01 {
  margin: 0px;
  padding: 0px;
}

.hpb-parts-smt-lbox-01 h3 {
  margin-top: 0px !important;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px !important;
  padding: 5px 0px;
  border-top-width: 1px !important;
  border-top-style: solid !important;
  border-left-width: 1px !important;
  border-left-style: solid !important;
  border-right-width: 1px !important;
  border-right-style: solid !important;
  text-align: center;
  font-size: small;
  font-weight: normal;
}

.hpb-parts-smt-lbox-01 ul {
  list-style-type: none !important;
  margin: 0px;
  padding: 0px;
  border-top-width: 1px !important;
  border-top-style: solid !important;
  border-left-width: 1px !important;
  border-left-style: solid !important;
  border-right-width: 1px !important;
  border-right-style: solid !important;
}

.hpb-parts-smt-lbox-01 li {
  margin: 0px;
  padding: 0px;
  border-bottom-width: 1px !important;
  border-bottom-style: solid !important;
}

.hpb-parts-smt-lbox-01 li a {
  display: block;
  margin: 0px;
  padding: 10px 15px;
  line-height: 1.4;
  text-align: left;
  text-decoration: none;
  border-style: none !important;
}

.hpb-parts-smt-lbox-01 li a img {
  margin: 0px;
  padding: 0px 5px 0px 0px;
  border: none;
  vertical-align: middle;
}

/* �����N���X�g�g 4 */
/* �����N���X�g�g 5 */
/* �����N���X�g�g 6 */
/* �����N���X�g�g 10 */
/* �����N���X�g�g 11 */
/* �����N���X�g�g 12 */
.hpb-parts-smt-lbox-02 {
  margin: 0px;
  padding: 0px;
  border-top-width: 1px !important;
  border-top-style: solid !important;
  border-bottom-width: 1px !important;
  border-bottom-style: solid !important;
  border-left-width: 1px !important;
  border-left-style: solid !important;
  border-right-width: 1px !important;
  border-right-style: solid !important;
  -webkit-border-radius: 5px 5px 5px 5px / 5px 5px 5px 5px !important;
}

.hpb-parts-smt-lbox-02 h3 {
  margin-top: 0px !important;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px !important;
  padding: 5px 0px;
  border-bottom-width: 1px !important;
  border-bottom-style: solid !important;
  font-size: small;
  font-weight: normal;
  text-align: center;
}

.hpb-parts-smt-lbox-02 h3:first-child {
  margin-top: 0px !important;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px !important;
  padding: 5px 0px;
  border-top: none;
  -webkit-border-radius: 5px 5px 0px 0px / 5px 5px 0px 0px !important;
}

.hpb-parts-smt-lbox-02 ul {
  margin: 0px;
  padding: 0px;
  list-style-type: none !important;
}

.hpb-parts-smt-lbox-02 li {
  margin: 0px;
  padding: 0px;
  border-bottom-width: 1px !important;
  border-bottom-style: solid !important;
}

.hpb-parts-smt-lbox-02 li:last-child {
  margin: 0px;
  padding: 0px;
  border: none !important;
}

.hpb-parts-smt-lbox-02 li a {
  display: block;
  margin: 0px;
  padding: 10px 15px;
  border: none;
  line-height: 1.4;
  text-align: left;
  text-decoration: none;
}

.hpb-parts-smt-lbox-02 li a img {
  margin: 0px;
  padding: 0px 5px 0px 0px;
  border: none;
  vertical-align: middle;
}

.hpb-parts-smt-span-head {
  display: block;
  margin: 0px 0px 0px -2px;
  padding: 0px;
  font-size: 120%;
  font-weight: bold;
}

.hpb-parts-smt-span-exp {
  margin: 0px;
  padding: 0px;
  font-size: 85%;
}

/******************************
 * �����N�{�^�� (p)
 ******************************/

/* �����N�{�^�� 1 */
.hpb-parts-smt-lbtn-01 {
  margin: 5px 0px !important;
  padding: 0px !important;
}

.hpb-parts-smt-lbtn-01 a {
  display: block;
  margin: 0px;
  padding: 10px 15px;
  border-width: 1px !important;
  border-style: solid !important;
  text-align: center;
  text-decoration: none;
}

/* �����N�{�^�� 2 */
.hpb-parts-smt-lbtn-02 {
  margin: 5px 0px !important;
  padding: 0px !important;
}

.hpb-parts-smt-lbtn-02 a {
  display: block;
  margin: 0px;
  padding: 10px 15px;
  border-width: 1px !important;
  border-style: solid !important;
  text-align: center;
  text-decoration: none;
  -webkit-border-radius: 5px 5px 5px 5px / 5px 5px 5px 5px !important;
}

/* �����N�{�^�� 3 */
.hpb-parts-smt-lbtn-03 {
  margin: 5px 0px !important;
  padding: 0px !important;
}

.hpb-parts-smt-lbtn-03 a {
  display: block;
  margin: 0px;
  padding: 10px 15px;
  border-width: 1px !important;
  border-style: solid !important;
  text-align: center;
  text-decoration: none;
  -webkit-border-radius: 15px 15px 15px 15px / 15px 15px 15px 15px !important;
}

/* ���� 1 */
.hpb-parts-smt-lbtn-04 {
  margin: 0px 5px 0px 0px;
  padding: 0px;
  width: auto;
  float: left;
}

.hpb-parts-smt-lbtn-04 a {
  display: block;
  margin: 0px;
  padding: 10px 15px;
  border-width: 1px !important;
  border-style: solid !important;
  text-align: center;
  text-decoration: none;
}

/* ���� 2 */
.hpb-parts-smt-lbtn-05 {
  margin: 0px 5px 0px 0px;
  padding: 0px;
  float: left;
}

.hpb-parts-smt-lbtn-05 a {
  display: block;
  margin: 0px;
  padding: 10px 15px;
  border-width: 1px !important;
  border-style: solid !important;
  text-align: center;
  text-decoration: none;
  -webkit-border-radius: 5px 5px 5px 5px / 5px 5px 5px 5px !important;
}

/* ���� 3 */
.hpb-parts-smt-lbtn-06 {
  margin: 0px 5px 0px 0px;
  padding: 0px;
  float: left;
}

.hpb-parts-smt-lbtn-06 a {
  display: block;
  margin: 0px;
  padding: 10px 15px;
  border-width: 1px !important;
  border-style: solid !important;
  text-align: center;
  text-decoration: none;
  -webkit-border-radius: 15px 15px 15px 15px / 15px 15px 15px 15px !important;
}

/* �E�� 1 */
.hpb-parts-smt-lbtn-07 {
  margin: 0px 5px 0px 0px;
  padding: 0px;
  float: right;
}

.hpb-parts-smt-lbtn-07 a {
  display: block;
  margin: 0px;
  padding: 10px 15px;
  border-width: 1px !important;
  border-style: solid !important;
  text-align: center;
  text-decoration: none;
}

/* �E�� 2 */
.hpb-parts-smt-lbtn-08 {
  margin: 0px 5px 0px 0px;
  padding: 0px;
  float: right;
}

.hpb-parts-smt-lbtn-08 a {
  display: block;
  margin: 0px;
  padding: 10px 15px;
  border-width: 1px !important;
  border-style: solid !important;
  text-align: center;
  text-decoration: none;
  -webkit-border-radius: 5px 5px 5px 5px / 5px 5px 5px 5px !important;
}

/* �E�� 3 */
.hpb-parts-smt-lbtn-09 {
  margin: 0px 5px 0px 0px;
  padding: 0px;
  float: right;
}

.hpb-parts-smt-lbtn-09 a {
  display: block;
  margin: 0px;
  padding: 10px 15px;
  border-width: 1px !important;
  border-style: solid !important;
  text-align: center;
  text-decoration: none;
  -webkit-border-radius: 15px 15px 15px 15px / 15px 15px 15px 15px !important;
}

/******************************
 * �f�t�H���g�X�^�C���ݒ�
 ******************************/

/* ���C�A�E�g �R���e�i */
.hpb-parts-smt-cnt-style {
  border-color: #cccccc;
  text-align: left;
}

/* ���o�� */
.hpb-parts-smt-hl-style {
  border-color: #cccccc;
}

.hpb-parts-smt-hl-bg-style {
  border-color: #cccccc;
  background-color: #cccccc;
}

/* ���͘g */
.hpb-parts-smt-cbox-style {
  text-align: left;
}

/* ���X�g�g */
.hpb-parts-smt-sbox-style {
  color: #000000;
  border-color: #cccccc;
}

.hpb-parts-smt-sbox-style h3 {
  border-color: #cccccc;
  background-color: #cccccc;
}

.hpb-parts-smt-sbox-style ul,
.hpb-parts-smt-sbox-style li {
  border-color: #cccccc;
}

/* �����N���X�g�g */
.hpb-parts-smt-lbox-style,
.hpb-parts-smt-lbox-pc-style {
  color: #000000;
  border-color: #cccccc;
}

.hpb-parts-smt-lbox-style h3 {
  border-color: #cccccc;
  background-color: #cccccc;
}

.hpb-parts-smt-lbox-style ul,
.hpb-parts-smt-lbox-style li {
  border-color: #cccccc;
}

.hpb-parts-smt-lbox-style a,
.hpb-parts-smt-lbtn-style a {
  color: #000000;
}

.hpb-parts-smt-lbox-style a span.en,
.hpb-parts-smt-lbtn-style a span.en {
  display: none;
}

.hpb-parts-smt-lbox-style li a {
  background-image: url(arrow.png);
  background-position: right center;
  background-repeat: no-repeat;
}

.hpb-parts-smt-lbox-style li a.hpb-parts-smt-lbox-pc-style {
  background-image: url(pc_arrow1.html);
  background-position: right center;
  background-repeat: no-repeat;
}

/* �����N�{�^�� */
.hpb-parts-smt-lbtn-style {
  color: #000000;
  border-color: #cccccc;
}

/* ------------------------------------ */
/* �ȉ��e���v���[�g���i�ϊ��p           */

/******************************
 * ���C�A�E�g �R���e�i (div)
 ******************************/

/* ����Ȃ� ������ */
.hpb-parts-smtc-cnt-01 {
  margin: 0px;
  padding: 0px;
  border: none;
  width: auto;
  float: none;
  clear: both;
}

/* ����Ȃ� ��60px */
.hpb-parts-smtc-cnt-01-060 {
  margin: 0px;
  padding: 0px;
  border: none;
  width: auto;
  float: left;
}

/* ����Ȃ� ��120px */
.hpb-parts-smtc-cnt-01-120 {
  margin: 0px;
  padding: 0px;
  border: none;
  width: auto;
  float: left;
}

/* ����Ȃ� ��180px */
.hpb-parts-smtc-cnt-01-180 {
  margin: 0px;
  padding: 0px;
  border: none;
  width: auto;
  float: left;
}

/* ����Ȃ� ��240px */
.hpb-parts-smtc-cnt-01-240 {
  margin: 0px;
  padding: 0px;
  border: none;
  width: auto;
  float: left;
}

/* ���͂� ������ */
.hpb-parts-smtc-cnt-02 {
  margin: 0px;
  padding: 0px;
  border-width: 1px;
  border-style: solid;
  width: auto;
  float: none;
  clear: both;
}

/* ���͂� ��60px */
.hpb-parts-smtc-cnt-02-060 {
  margin: 0px;
  padding: 0px;
  border-width: 1px;
  border-style: solid;
  width: auto;
  float: left;
}

/* ���͂� ��120px */
.hpb-parts-smtc-cnt-02-120 {
  margin: 0px;
  padding: 0px;
  border-width: 1px;
  border-style: solid;
  width: auto;
  float: left;
}

/* ���͂� ��180px */
.hpb-parts-smtc-cnt-02-180 {
  margin: 0px;
  padding: 0px;
  border-width: 1px;
  border-style: solid;
  width: auto;
  float: left;
}

/* ���͂� ��240px */
.hpb-parts-smtc-cnt-02-240 {
  margin: 0px;
  padding: 0px;
  border-width: 1px;
  border-style: solid;
  width: auto;
  float: left;
}

/******************************
 * ���o�� (h1-h6)
 ******************************/

/* ����Ȃ� */
.hpb-parts-smtc-hl-01 {
  margin: 0px;
  padding: 0px 0.2em;
  border: none !important;
  line-height: 1.2em;
}

/* ���� 1 */
.hpb-parts-smtc-hl-02 {
  margin: 0px;
  padding: 0px 0.2em;
  border-bottom-width: 1px !important;
  border-bottom-style: solid !important;
  border-top-style: none !important;
  border-right-style: none !important;
  border-left-style: none !important;
  line-height: 1.2em;
}

/* ���� 2 (2�d��) */
.hpb-parts-smtc-hl-03 {
  margin: 0px;
  padding: 0px 0.2em;
  border-bottom-width: 3px !important;
  border-bottom-style: double !important;
  border-top-style: none !important;
  border-right-style: none !important;
  border-left-style: none !important;
  line-height: 1.2em;
}

/* ���͂� 1 */
.hpb-parts-smtc-hl-04 {
  margin: 0px;
  padding: 0px 0.2em;
  border-width: 1px !important;
  border-style: solid !important;
  line-height: 1.2em;
}

/* ���͂� 2 (2�d��) */
.hpb-parts-smtc-hl-05 {
  margin: 0px;
  padding: 0px 0.2em;
  border-width: 3px !important;
  border-style: double !important;
  line-height: 1.2em;
}

/* ����� 1 (�����t��) */
.hpb-parts-smtc-hl-06 {
  margin: 0px;
  padding: 0px 0px 0px 0.2em;
  border-left-width: 1.2em !important;
  border-left-style: solid !important;
  border-top-style: none !important;
  border-right-style: none !important;
  border-bottom-style: none !important;
  line-height: 1.2em;
}

/* ����� 2 (�����t��������) */
.hpb-parts-smtc-hl-07 {
  margin: 0px;
  padding: 0px 0px 0px 0.2em;
  border-left-width: 1.2em !important;
  border-left-style: solid !important;
  border-bottom-width: 2px !important;
  border-bottom-style: solid !important;
  border-top-style: none !important;
  border-right-style: none !important;
  line-height: 1.2em;
}

/* ����� 3 (�����t�������͂�) */
.hpb-parts-smtc-hl-08 {
  margin: 0px;
  padding: 0px 0px 0px 0.2em;
  border-style: solid !important;
  border-width: 2px 2px 2px 1.2em !important;
  line-height: 1.2em;
}

/******************************
 * ���͘g (div)
 ******************************/

/* �����Ȃ� */
.hpb-parts-smtc-cbox-01 {
  margin: 0px;
  padding: 5px;
  border: none;
}

/* ���͂� 1 (����) */
.hpb-parts-smtc-cbox-02 {
  margin: 0px;
  padding: 4px;
  border-width: 1px;
  border-style: solid;
}

/* ���͂� 2 (�_��) */
.hpb-parts-smtc-cbox-03 {
  margin: 0px;
  padding: 4px;
  border-width: 1px;
  border-style: dotted;
}

/* ���͂� 3 (2�d��) */
.hpb-parts-smtc-cbox-04 {
  margin: 0px;
  padding: 2px;
  border-width: 3px;
  border-style: double;
}

/******************************
 * �ʐ^/�摜 (img)
 ******************************/

/* �]���Ȃ� */
.hpb-parts-smtc-img-01 {
  margin: 0px;
  padding: 0px;
  border: none;
  float: left;
}

/* �]������ */
.hpb-parts-smtc-img-02 {
  margin: 0px;
  padding: 5px;
  border: none;
  float: left;
}

/* �ʐ^�{�b�N�X ���񂹔z�u�p */
.hpb-parts-smtc-img-03 {
  margin: 0px 5px 0px 0px !important;
  padding: 5px;
  border: none;
  float: left;
}

/* �ʐ^�{�b�N�X �E�񂹔z�u�p */
.hpb-parts-smtc-img-04 {
  margin: 0px 0px 0px 5px !important;
  padding: 5px;
  border: none;
  float: right;
}

/* �����ʐ^�{�b�N�X ���[�p */
.hpb-parts-smtc-img-05 {
  margin: 0px;
  padding: 5px;
  border: none;
  float: left;
  clear: both;
}

/* �����ʐ^�{�b�N�X 2��ڗp */
.hpb-parts-smtc-img-06 {
  margin: 0px;
  padding: 5px 5px 5px 0px;
  border: none;
  float: left;
}

/* �����ʐ^�{�b�N�X ���[�E2�s�ڗp */
.hpb-parts-smtc-img-07 {
  margin: 0px;
  padding: 0px 5px 5px 5px;
  border: none;
  float: left;
  clear: both;
}

/* �����ʐ^�{�b�N�X 2�s�ڗp */
.hpb-parts-smtc-img-08 {
  margin: 0px;
  padding: 0px 5px 5px 0px;
  border: none;
  float: left;
}

/******************************
 * ������ (hr)
 ******************************/

/* ������ 1 (�����E��) */
.hpb-parts-smtc-hr-01 {
  margin: 0.5em 0px;
  border-width: 1px 0px 0px 0px !important;
  border-top-style: solid !important;
}

/* ������ 2 (�����E��) */
.hpb-parts-smtc-hr-02 {
  margin: 0.5em 0px;
  border-width: 2px 0px 0px 0px;
  border-top-style: solid;
}

/* ������ 3 (�_���E��) */
.hpb-parts-smtc-hr-03 {
  margin: 0.5em 0px;
  border-width: 1px 0px 0px 0px;
  border-top-style: dotted;
  height: 0px;
}

/* ������ 4 (�_���E��) */
.hpb-parts-smtc-hr-04 {
  margin: 0.5em 0px;
  border-width: 2px 0px 0px 0px;
  border-top-style: dotted;
  height: 0px;
}

/* ������ 5 (�j���E��) */
.hpb-parts-smtc-hr-05 {
  margin: 0.5em 0px;
  border-width: 1px 0px 0px 0px;
  border-top-style: dashed;
}

/* ������ 6 (�j���E��) */
.hpb-parts-smtc-hr-06 {
  margin: 0.5em 0px;
  border-width: 2px 0px 0px 0px;
  border-top-style: dashed;
}

/* ������ 7 (2�d��) */
.hpb-parts-smtc-hr-07 {
  margin: 0.5em 0px;
  border-width: 3px 0px 0px 0px;
  border-top-style: double;
}

/******************************
 * �ʐ^�{�b�N�X (div)
 ******************************/

/* ����Ȃ� */
.hpb-parts-smtc-pbox-01 {
  margin: 5px;
  padding: 0px;
  border: none;
  text-align: left;
  width: auto;
  float: none;
  clear: both;
}

/* ����Ȃ� �摜��60px */
.hpb-parts-smtc-pbox-01-060 {
  margin: 5px;
  padding: 0px 0px 5px 0px;
  border: none;
  text-align: left;
  width: auto;
  float: left;
}

/* ����Ȃ� �摜��120px */
.hpb-parts-smtc-pbox-01-120 {
  margin: 5px;
  padding: 0px 0px 5px 0px;
  border: none;
  text-align: left;
  width: auto;
  float: left;
}

/* ����Ȃ� �摜��180px */
.hpb-parts-smtc-pbox-01-180 {
  margin: 5px;
  padding: 0px 0px 5px 0px;
  border: none;
  text-align: left;
  width: auto;
  float: left;
}

/* ����Ȃ� �摜��240px */
.hpb-parts-smtc-pbox-01-240 {
  margin: 5px;
  padding: 0px 0px 5px 0px;
  border: none;
  text-align: left;
  width: auto;
  float: left;
}

/* ���͂� */
.hpb-parts-smtc-pbox-02 {
  margin: 4px;
  padding: 0px;
  border-width: 1px;
  border-style: solid;
  text-align: left;
  width: auto;
  float: none;
}

/* ���͂� �摜��60px */
.hpb-parts-smtc-pbox-02-060 {
  margin: 4px;
  padding: 0px 0px 5px 0px;
  border-width: 1px;
  border-style: solid;
  text-align: left;
  width: auto;
  float: left;
}

/* ���͂� �摜��120px */
.hpb-parts-smtc-pbox-02-120 {
  margin: 4px;
  padding: 0px 0px 5px 0px;
  border-width: 1px;
  border-style: solid;
  text-align: left;
  width: auto;
  float: left;
}

/* ���͂� �摜��180px */
.hpb-parts-smtc-pbox-02-180 {
  margin: 4px;
  padding: 0px 0px 5px 0px;
  border-width: 1px;
  border-style: solid;
  text-align: left;
  width: auto;
  float: left;
}

/* ���͂� �摜��240px */
.hpb-parts-smtc-pbox-02-240 {
  margin: 4px;
  padding: 0px 0px 5px 0px;
  border-width: 1px;
  border-style: solid;
  text-align: left;
  width: auto;
  float: left;
}

/* �ʐ^�{�b�N�X�p ���͗̈� */
.hpb-parts-smtc-pbox-desc {
  margin: 0px;
  padding: 5px 5px 0px 5px;
  border: none;
}

/******************************
 * �����ʐ^�{�b�N�X (div)
 ******************************/

/* ����Ȃ� �摜��60px ��2x�c1 */
.hpb-parts-smtc-mpbox-01-2060 {
  margin: 5px;
  padding: 0px 0px 5px 0px;
  border: none;
  text-align: left;
  width: auto;
  float: left;
}

/* ����Ȃ� �摜��60px ��3x�c1 */
.hpb-parts-smtc-mpbox-01-3060 {
  margin: 5px;
  padding: 0px 0px 5px 0px;
  border: none;
  text-align: left;
  width: auto;
  float: left;
}

/* ����Ȃ� �摜��60px ��4x�c1 */
.hpb-parts-smtc-mpbox-01-4060 {
  margin: 5px;
  padding: 0px 0px 5px 0px;
  border: none;
  text-align: left;
  width: auto;
  float: left;
}

/* ����Ȃ� �摜��120px ��2x�c1 */
.hpb-parts-smtc-mpbox-01-2120 {
  margin: 5px;
  padding: 0px 0px 5px 0px;
  border: none;
  text-align: left;
  width: auto;
  float: left;
}

/* ����Ȃ� �摜��120px ��3x�c1 */
.hpb-parts-smtc-mpbox-01-3120 {
  margin: 5px;
  padding: 0px 0px 5px 0px;
  border: none;
  text-align: left;
  width: auto;
  float: left;
}

/* ����Ȃ� �摜��120px ��4x�c1 */
.hpb-parts-smtc-mpbox-01-4120 {
  margin: 5px;
  padding: 0px 0px 5px 0px;
  border: none;
  text-align: left;
  width: auto;
  float: left;
}

/* ����Ȃ� �摜��180px ��2x�c1 */
.hpb-parts-smtc-mpbox-01-2180 {
  margin: 5px;
  padding: 0px 0px 5px 0px;
  border: none;
  text-align: left;
  width: auto;
  float: left;
}

/* ����Ȃ� �摜��180px ��3x�c1 */
.hpb-parts-smtc-mpbox-01-3180 {
  margin: 5px;
  padding: 0px 0px 5px 0px;
  border: none;
  text-align: left;
  width: auto;
  float: left;
}

/* ����Ȃ� �摜��180px ��4x�c1 */
.hpb-parts-smtc-mpbox-01-4180 {
  margin: 5px;
  padding: 0px 0px 5px 0px;
  border: none;
  text-align: left;
  width: auto;
  float: left;
}

/* ����Ȃ� �摜��240px ��2x�c1 */
.hpb-parts-smtc-mpbox-01-2240 {
  margin: 5px;
  padding: 0px 0px 5px 0px;
  border: none;
  text-align: left;
  width: auto;
  float: left;
}

/* ����Ȃ� �摜��240px ��3x�c1 */
.hpb-parts-smtc-mpbox-01-3240 {
  margin: 5px;
  padding: 0px 0px 5px 0px;
  border: none;
  text-align: left;
  width: auto;
  float: left;
}

/* ����Ȃ� �摜��240px ��4x�c1 */
.hpb-parts-smtc-mpbox-01-4240 {
  margin: 5px;
  padding: 0px 0px 5px 0px;
  border: none;
  text-align: left;
  width: auto;
  float: left;
}

/* ���͂� �摜��60px ��2x�c1 */
.hpb-parts-smtc-mpbox-02-2060 {
  margin: 4px;
  padding: 0px 0px 5px 0px;
  border-width: 1px;
  border-style: solid;
  text-align: left;
  width: auto;
  float: left;
}

/* ���͂� �摜��60px ��3x�c1 */
.hpb-parts-smtc-mpbox-02-3060 {
  margin: 4px;
  padding: 0px 0px 5px 0px;
  border-width: 1px;
  border-style: solid;
  text-align: left;
  width: auto;
  float: left;
}

/* ���͂� �摜��60px ��4x�c1 */
.hpb-parts-smtc-mpbox-02-4060 {
  margin: 4px;
  padding: 0px 0px 5px 0px;
  border-width: 1px;
  border-style: solid;
  text-align: left;
  width: auto;
  float: left;
}

/* ���͂� �摜��120px ��2x�c1 */
.hpb-parts-smtc-mpbox-02-2120 {
  margin: 4px;
  padding: 0px 0px 5px 0px;
  border-width: 1px;
  border-style: solid;
  text-align: left;
  width: auto;
  float: left;
}

/* ���͂� �摜��120px ��3x�c1 */
.hpb-parts-smtc-mpbox-02-3120 {
  margin: 4px;
  padding: 0px 0px 5px 0px;
  border-width: 1px;
  border-style: solid;
  text-align: left;
  width: auto;
  float: left;
}

/* ���͂� �摜��120px ��4x�c1 */
.hpb-parts-smtc-mpbox-02-4120 {
  margin: 4px;
  padding: 0px 0px 5px 0px;
  border-width: 1px;
  border-style: solid;
  text-align: left;
  width: auto;
  float: left;
}

/* ���͂� �摜��180px ��2x�c1 */
.hpb-parts-smtc-mpbox-02-2180 {
  margin: 4px;
  padding: 0px 0px 5px 0px;
  border-width: 1px;
  border-style: solid;
  text-align: left;
  width: auto;
  float: left;
}

/* ���͂� �摜��180px ��3x�c1 */
.hpb-parts-smtc-mpbox-02-3180 {
  margin: 4px;
  padding: 0px 0px 5px 0px;
  border-width: 1px;
  border-style: solid;
  text-align: left;
  width: auto;
  float: left;
}

/* ���͂� �摜��180px ��4x�c1 */
.hpb-parts-smtc-mpbox-02-4180 {
  margin: 4px;
  padding: 0px 0px 5px 0px;
  border-width: 1px;
  border-style: solid;
  text-align: left;
  width: auto;
  float: left;
}

/* ���͂� �摜��240px ��2x�c1 */
.hpb-parts-smtc-mpbox-02-2240 {
  margin: 4px;
  padding: 0px 0px 5px 0px;
  border-width: 1px;
  border-style: solid;
  text-align: left;
  width: auto;
  float: left;
}

/* ���͂� �摜��240px ��3x�c1 */
.hpb-parts-smtc-mpbox-02-3240 {
  margin: 4px;
  padding: 0px 0px 5px 0px;
  border-width: 1px;
  border-style: solid;
  text-align: left;
  width: auto;
  float: left;
}

/* ���͂� �摜��240px ��4x�c1 */
.hpb-parts-smtc-mpbox-02-4240 {
  margin: 4px;
  padding: 0px 0px 5px 0px;
  border-width: 1px;
  border-style: solid;
  text-align: left;
  width: auto;
  float: left;
}

/******************************
 * �o�i�[���X�g
 ******************************/

/* �����^ 1 */
.hpb-parts-smtc-blist-01 {
  margin: 0px;
  padding: 0px;
}

.hpb-parts-smtc-blist-01 ul {
  margin: 0px;
  padding: 5px 0px 0px 0px;
  list-style-type: none;
  text-align: center;
}

.hpb-parts-smtc-blist-01 li {
  padding: 0px 5px 5px 5px;
}

.hpb-parts-smtc-blist-01 li a {
  display: block;
  margin: 0px;
  padding: 5px;
  text-decoration: none;
  border-style: none;
}

/* �����^ 2 */
.hpb-parts-smtc-blist-02 {
  margin: 0px;
  padding: 0px;
}

.hpb-parts-smtc-blist-02 ul {
  margin: 0px;
  padding: 5px 0px 0px 0px;
  list-style-type: none;
  text-align: center;
}

.hpb-parts-smtc-blist-02 li {
  padding: 0px 5px 5px 5px;
}

.hpb-parts-smtc-blist-02 li a {
  display: block;
  margin: 0px;
  padding: 5px;
  text-decoration: none;
  border-width: 1px;
  border-style: solid;
}

/* �����^ 3 */
.hpb-parts-smtc-blist-03 {
  margin: 0px;
  padding: 0px;
}

.hpb-parts-smtc-blist-03 ul {
  margin: 0px;
  padding: 5px 0px 0px 0px;
  list-style-type: none;
  text-align: center;
}

.hpb-parts-smtc-blist-03 li {
  padding: 0px 5px 5px 5px;
}

.hpb-parts-smtc-blist-03 li a {
  display: block;
  margin: 0px auto;
  padding: 5px;
  text-decoration: none;
  border-left-width: 2em;
  border-left-style: solid;
  border-right-width: 2em;
  border-right-style: solid;
  border-top-width: 1px;
  border-top-style: solid;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

/* �摜�t�� 1 */
.hpb-parts-smtc-blist-04 {
  margin: 0px;
  padding: 0px;
}

.hpb-parts-smtc-blist-04 ul {
  margin: 0px;
  padding: 5px 0px 0px 0px;
  list-style-type: none;
  text-align: left;
}

.hpb-parts-smtc-blist-04 li {
  padding: 0px 5px 5px 5px;
}

.hpb-parts-smtc-blist-04 li a {
  display: block;
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  border-style: none;
  height: 30px;
}

.hpb-parts-smtc-blist-04 li a img {
  margin: 0px;
  padding: 0px 5px 0px 0px;
  border: none;
  vertical-align: middle;
}

/* �摜�t�� 2 */
.hpb-parts-smtc-blist-05 {
  margin: 0px;
  padding: 0px;
}

.hpb-parts-smtc-blist-05 ul {
  margin: 0px;
  padding: 5px 0px 0px 0px;
  list-style-type: none;
  text-align: left;
}

.hpb-parts-smtc-blist-05 li {
  padding: 0px 5px 5px 5px;
}

.hpb-parts-smtc-blist-05 li a {
  display: block;
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  border-width: 1px;
  border-style: solid;
  height: 30px;
}

.hpb-parts-smtc-blist-05 li a img {
  margin: 0px;
  padding: 0px 5px 0px 0px;
  border: none;
  vertical-align: middle;
}

/******************************
 * �f�t�H���g�X�^�C���ݒ�
 ******************************/

.hpb-parts-smtc-cnt-style {
  text-align: left;
}

.hpb-parts-smtc-hl-style {
  border-color: #cccccc;
}

.hpb-parts-smtc-cbox-style {
  text-align: left;
}

.hpb-parts-smtc-hr-style {
  clear: both;
}

.hpb-parts-smtc-pbox-style {
  border-color: #cccccc;
}
